* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #128c7e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.screen {
  border: 10px solid #fff;
  height: 150px;
  width: 300px;
  position: relative;
}

.keyboard {
  border: 5px solid #fff;
  position: absolute;
  width: 325px;
  top: 150px;
  left: -23px;
}
