@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ------------------- */
/* RESET               */
/* ------------------- */

/* BOX SIZING RULES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* SET CORE BODY DEFAULTS */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

/* IMPROVE MEDIA DEFAULTS */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* AVOID TEXT OVERFLOWS */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* MAKE FORM ELEMENTS EASIER TO WORK WITH */
input,
button,
textarea,
select {
  font: inherit;
}

/* REMOVE ANIMATIONS FOR PEOPLE WHO'VE TURNED THEM OFF */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* UTILITY CLASSES     */
/* ------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
